<nav class="admin-top-nav">
    <a routerLink="/search"><i class="pi pi-search" style="font-size: 1rem; color: #fff;padding: 5px;"></i>חיפוש</a>
    <a routerLink="/change-score"><i class="pi pi-circle-on" style="font-size: 1rem; color: #fff; padding: 5px;"></i>שינוי ניקוד</a>
    <a routerLink="/add-data"><i class="pi pi-user-plus" style="font-size: 1rem; color: #fff; padding: 5px;"></i>הוספת תלמידים</a>
    <a routerLink="/downloading-file"><i class="pi pi-file-excel" style="font-size: 1rem; color: #fff; padding: 5px;"></i>הורדות דו"ח תלמידים</a>
    <a routerLink="/"><i class="pi pi-home" style="font-size: 1rem; color: #fff; padding: 5px;"></i></a>
</nav>

