body,
html {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
}

app-top-nav {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin-top: 6rem;
    margin-left: 34rem;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #333;
}

input[type="file"] {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    width: 100%;
    box-sizing: border-box;
}